
/*--------------------------------------------------------------
# general
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# dependencies
--------------------------------------------------------------*/
.break-word {
    overflow-wrap: break-word;
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
#header {
    background-color:rgb(22, 21, 21);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    padding: 1rem;
    overflow-y: hidden;
    transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.5s;
}

#header .profile-menu img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
}

#header .profile-menu h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    box-sizing: border-box;
}

#header .profile-menu .social-links {
    margin: 1rem 0;
}

#header a {
    background-color:#2c2f3f;
    color: white;
    line-height: 200%;
    padding: 8px;
    transition: 0.3s;
}

@media (max-width: 1199px) {
    #header {
        left: -20rem;
        padding: 0;
    }
    #main {
        padding-left: 0 !important;
    }
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;   
}

section h1 {
    font-size: 4rem;
}

section span {
    color: white;
}

section .section-container {
    position: relative;
    z-index: 2;
    min-width: 500px;
}

section .section-container span {
    font-size: 26px;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../imgs/section-image.jpg");
    background-size: cover;
}

.type-writer {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

section h1 {
    color: white;
}

/*--------------------------------------------------------------
# Menu bar
--------------------------------------------------------------*/

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;

}

.nav-menu a {
    padding: 12px 15px;
    margin-top: 8px;
    color: rgb(172, 169, 169);
}

.nav-menu .active a i {
    color: rgb(0, 156, 228);
}

.nav-menu a {
    transition: 0.3s;
}

.nav-menu a:hover {
    color: rgb(0, 156, 228);
}

.nav-menu a i {
    font-size: 1.5rem;
}

.nav-menu a span {
    padding-left: 0.5rem;
}

.rounded_circle {
    border-radius: 50%;
}

.img_fluid {
    max-width: 100%;
    height: auto;
}

.text-light {
    color: #ececec;
}

/*--------------------------------------------------------------
# main
--------------------------------------------------------------*/

#main {
    padding-left: 20rem;
}

/*--------------------------------------------------------------
# Resume section
--------------------------------------------------------------*/
.section-title {
    padding-bottom: 1rem;
}

.section-title h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.resume .resume-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 26px;
    font-weight: 700;
}

.resume .resume-item {
    margin-top: 0px;
    padding: 0 0 20px 20px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    border: 2px solid #1f5297;
    background: white;
} 

.resume .resume-item h4 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.resume .resume-item h5 {
    font-size: 16px;
    font-weight: 600;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
}

.animatedFadeInUp {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,500px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}